body{
    font-family: 'Electrolize', sans-serif;
    background-color: black;
}

h1,h2,h3,h4,.h1,.h2,.h3,.h4{
    font-family: 'Orbitron';
}
/* (box)variable
nombre = contenido */
:root{
   --main-color: #191769;
   --accent-color: #2871cc;
}
.text-main{
    color: var(--main-color);
}
.text-accent{
    color:var(--accent-color);
}
.bg-main{
    background-color: var(--main-color);
}
.bg-accent{
    background-color: var(--accent-color);
}
.borderNav{
    border-bottom: 2px solid white;
    background-color: black;
}
.bgHead{
    background:linear-gradient(black 10%, transparent, black) ,url(./media/img/nasa.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.borderCard{
    border-bottom: 2px solid var(--accent-color);
}
.btnClick{
    background: 
    linear-gradient(to right, var(--main-color) 2px, transparent 2px) 0 0,
    linear-gradient(to right, var(--main-color) 2px, transparent 2px) 0 100%,
    linear-gradient(to left, var(--main-color) 2px, transparent 2px) 100% 0,
    linear-gradient(to left, var(--main-color) 2px, transparent 2px) 100% 100%,
    linear-gradient(to bottom, var(--main-color) 2px, transparent 2px) 0 0,
    linear-gradient(to bottom, var(--main-color) 2px, transparent 2px) 100% 0,
    linear-gradient(to top, var(--main-color) 2px, transparent 2px) 0 100%,
    linear-gradient(to top, var(--main-color) 2px, transparent 2px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 10px 10px;
}
.btnClick:hover{
    letter-spacing: 3px;
}
.textSpace{
    letter-spacing: 3px;
}
.bgFooter{
    background:linear-gradient(black 10%, transparent, black 80%) ,url(./media/img/footer.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
}